"!!!_Признаки для артикула и даты для ВБ.xlsx"
testing.ipynb
testing.py
ssh_key
ssh_key.pub
build
dist
__pycache__
Preprocessing/__pycache__
Preprocessing/build
Preprocessing/dist
Preprocessing/Воронка ВБ Эталон.xlsx
Preprocessing/Dashboard_WB_Preprocessing.exe
Preprocessing/Dashboard_WB_Preprocessing.spec
Preprocessing/Dashboard_OZON_Preprocessing.exe
Preprocessing/Dashboard_OZON_Preprocessing.spec
_temp_config.py
_temp_DashboardAssemblyOZ.py
_temp_DashboardAssemblyWB.py
Dashboard_WB_Assembly.exe
Dashboard_WB_Assembly.spec
Dashboard_OZ_Assembly.exe
Dashboard_OZ_Assembly.spec
logs.log
analytics_tunnel.vbs
assembly_ozon.log
Dashboard_OZ_Assembly_AutoPipeline.exe
Dashboard_OZ_Assembly_AutoPipeline.spec
pgadmin_connect.bat
remote_desktop_taldykin
remote_desktop_taldykin.pub
Preprocessing/.env
Preprocessing/assembly_ozon.log
Preprocessing/Dashboard_OZ_Preprocessing.spec
Preprocessing/ozon_ad_report.log
Preprocessing/ozon_analytics.log
Preprocessing/ozon_costs_api.log
Preprocessing/ozon_funnel_api.log
Preprocessing/ozon_union_README.md
Preprocessing/page_debug_step1_no_icon_btn.html
Preprocessing/page_debug_step1_no_icon_btn.png
Preprocessing/page_debug_step5_no_modal.html
Preprocessing/page_debug_step5_no_modal.png
Preprocessing/wb_costs_api.log
Preprocessing/wb_downloader.log
Preprocessing/wb_funnel_api.log
Preprocessing/config/debug_ozon_analytics_1781409664.png
Preprocessing/config/debug_ozon_analytics_dl_1774001948.png
Preprocessing/config/debug_ozon_analytics_picker_1774001949.png
Preprocessing/config/ozon_ad_report.log
Preprocessing/config/ozon_analytics.log
Preprocessing/config/postgres_config.example.json
Preprocessing/config/postgres_config.json
Preprocessing/config/reports_config.json
Preprocessing/config/runner.log
Preprocessing/config/wb_downloader.log
